{% extends "base.html" %}

{% block content %}
<header class="mb-12">
    <h1 class="text-3xl md:text-4xl font-semibold tracking-tight text-black mb-4">About Me</h1>
</header>

<article class="prose prose-zinc max-w-none text-zinc-700">
    <p class="text-lg leading-relaxed mb-6">
        Hi, I’m Xavier, I build end-to-end intelligent systems. I enjoy tackling diverse challenges, 
        whether that means engineering an agentic multi-LLM application like Pack Vote, developing Production-Grade AI Book Discovery Pipeline
        like Shelf-Scanner, or building quirky but complex computer vision regression models like Days to Banana Death. 
        I focus on writing clean Python code and building the robust infrastructure needed to make AI systems work seamlessly in the wild.
        
    </p>
    <p class="text-lg leading-relaxed mb-6 font-medium text-black">
    I'm currently seeking new opportunities in AI/ML, so feel free to explore my projects or reach out!
</p>
</article>
{% endblock %}